<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helper Section</title>
</head>
<style>
    body {
            background-image:  url("https://www.shutterstock.com/image-vector/food-kitchen-seamless-pattern-pale-600nw-276735071.jpg");
        }
</style>
<body>
    <%- include('navbar') %>
    <main>
        <section>
            <h2>Contact Us</h2>
            <p>If you have any questions or need assistance, feel free to reach out to us through the following channels:</p>
            <ul>
                <li>Email: <a href="mailto:navv@gmail.com">navv@gmail.com</a></li>
                <li>Phone: <a href="tel:+918179369910">817-936-9910</a></li>
            </ul>
        </section>
        <section>
            <h2>Queries</h2>
            <p>For any queries related to our services, you can drop us a message or give us a call. We're here to help!</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Food Delivery App</p>
    </footer>
</body>
</html>
