<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Hotels Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            /* background-color: #f8f9fa; */
            font-family: Arial, sans-serif;
        }
        body {
            background-image:  url("https://www.shutterstock.com/image-vector/food-kitchen-seamless-pattern-pale-600nw-276735071.jpg");
        }

        .container {
            text-align: center;
            margin-top: 50px;
        }

        .no-hotels-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
            font-weight: 700;
        }

        p {
            font-size: 1.25rem;
            color: #6c757d;
            margin-bottom: 30px;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .btn-primary:focus, .btn-primary.focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }
    </style>
</head>
<body>
    <%- include('navbar') %>
    <div class="container">
        <img src="https://i.ytimg.com/vi/ncSIPyey1tM/maxresdefault.jpg" alt="No Hotels Found" class="no-hotels-image" width="500px" height="500px">
        <h1>No Hotels Found in <%= city %></h1>
        <p>Sorry, we couldn't find any hotels in <%= city %>. Please try another location.</p>
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
